@use '@/styles/globals/typography' as type;
@use '@/styles/globals/animations' as anim;
@use '@/styles/globals/responsive' as responsive;

.preview-header {
    display: flex;
    height: var(--space-16);
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--theme-border);
    background-color: var(--theme-surface-secondary);
    padding: var(--space-4);
}

.title {
    @include type.type-body(500);
    color: var(--theme-text-primary);
}

.tooltip-anchor {
    display: flex;
}

.toggle-button {
    @include anim.transition-colors;
    border-radius: var(--radius-lg);
    padding: var(--space-1-5);
    color: var(--theme-text-secondary);

    @include responsive.hover {
        background-color: var(--theme-surface-hover);
    }
}

.icon {
    height: var(--space-4);
    width: var(--space-4);
}
