@use '@/styles/globals/typography' as type;
@use '@/styles/globals/colors' as colors;

.label {
    @include type.type-body(500);
    display: flex;
    align-items: center;
    gap: var(--space-2);
    color: var(--theme-text-primary);
}

.required-indicator {
    color: colors.status-color('error', 500);
}
