@use '@/styles/globals/typography' as type;
@use '@/styles/globals/animations' as anim;

.dots {
  margin-top: var(--space-0-5);
  display: flex;
  align-items: center;
  gap: var(--space-1-5);
}

.track {
  display: flex;
  gap: var(--space-1);
}

.dot {
  @include anim.bounce;
  height: var(--space-1);
  width: var(--space-1);
  border-radius: var(--radius-full);
  background-color: var(--theme-text-tertiary);
}

.label {
  @include type.type-meta;
  color: var(--theme-text-tertiary);
}
